html, body {
  background-color: #1F1E43;
	font-family: "nunito sans", "open sans", "verdana", "sans-serif";
}

h1 {
	color: #A7B9E6;
	font-size: 100px;
	font-weight: bold;
	font-family: "nunito sans", "open sans", "verdana", "sans-serif";
}

h2 {
	color: #A7B9E6;
	font-size: 44px;
	font-weight: bold;
	font-family: "nunito sans", "open sans", "verdana", "sans-serif";
}

h3 {
	color: #A7B9E6;
	font-size: 20px;
	font-weight: bold;
	font-family: "nunito sans", "open sans", "verdana", "sans-serif";
}

h4 {
	color: #A7B9E6;
	font-size: 16px;
	font-style: italic;
	font-family: "nunito sans", "open sans", "verdana", "sans-serif";
}

p {
	color: #99A9D4;
	font-family: "nunito sans", "open sans", "verdana", "sans-serif";
}

.vertical-center {
  position: relative;
  transform: translateY(-50%);
}

/* unvisited link */
a:link {
  color: #FB4C16;
}

/* visited link */
a:visited {
  color: #DB4C26;
}

/* mouse over link */
a:hover {
  color: #ffffff;
}

/* selected link */
a:active {
  color: #ffffff;
}

.navbar-shady {
	color: #A7B9E6;
}

.bg-nav {
	background-color: #1F1E43;
}

.bg-card {
	background-color: #323169;
}

.card {
	display: inline-block;
}

.jumbotron {
	background-image: url("https://i.imgur.com/4bAKvnA.png");
	background-color: #323169;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron.project {
  height: 100px;
}

.btn-blue {
	color: #2A2951;
	background-color: #99A9D4;
}

ul {
  color:#99A9D4;
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #FB4C16;
}

::selection {
  color: #ffffff;
  background: #FB4C16;
}

.card-columns.main {
  column-count: 2;
}

.card-columns.gallery {
  column-count: 3;
}

/* button stuff */

.btn-outline-primary {
    color: #A7B9E6 !important;
    background-color: #3B3979;
    border-color: #A7B9E6;
}

.btn-outline-primary:hover {
    color: #323169 !important;
    background-color: #A7B9E6;
    border-color: #A7B9E6;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem #605E9B;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #605E9B !important;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #323169 !important;
    background-color: #A7B9E6;
    border-color: #A7B9E6;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #605E9B;
}
